<div class="container">
    <h1>Listado Productos</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Descripción</th>
      <th scope="col">Observaciones</th>
      <th scope="col">Activo</th>
      <th scope="col">Disponible</th>
      <th scope="col">Puntos Ganados</th>
      <th scope="col">Url Imagen</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of listado">
      <th scope="row">{{ p.id }}</th>
      <td>{{ p.nombre }}</td>
      <td>{{ p.precio }}</td>
      <td>{{ p.descripcion }}</td>
      <td>{{ p.observaciones }}</td>
      <td>{{ !p.activo ? 'NO' : 'SI'}}</td>
      <td>{{ !p.disponible ? 'NO' : 'SI'}}</td>
      <td>{{ p.puntosGanados }}</td>
      <td>{{ p.urlImagen }}</td>
      <td><app-baja-producto [producto]="p" (onEliminado)="actualizarListado()"></app-baja-producto></td>
    </tr>
  </tbody>
</table>
</div>