<div class="container" id="htmlData">
  <div class="container p-3">
    <h1 class="display-4 my-3">Reportes de Cobros</h1>
    <form [formGroup]="formulario">
      <div class="form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="mb-3">
              <label for="inputFechaDesde" class="form-label">Fecha desde</label>
              <input type="date" class="form-control" id="inputFechaDesde" formControlName="fechaDesde"
                [class.is-invalid]="
                  controlFechaDesde.touched &&
                  controlFechaDesde.hasError('required')
                " />
              <p *ngIf="
                  controlFechaDesde.touched &&
                  controlFechaDesde.hasError('required')
                " class="invalid-feedback">
                Ingrese la fecha desde por favor.
              </p>
            </div>
          </div>

          <div class="col-md-5">
            <div class="mb-3">
              <label for="inputFechaDesde" class="form-label">Fecha hasta</label>
              <input type="date" class="form-control" id="inputFechaDesde" formControlName="fechaHasta"
                [class.is-invalid]="
                  controlFechaHasta.touched &&
                  controlFechaHasta.hasError('required')
                " />
              <p *ngIf="
                  controlFechaHasta.touched &&
                  controlFechaHasta.hasError('required')
                " class="invalid-feedback">
                Ingrese la fecha hasta por favor.
              </p>
            </div>
          </div>
          <div class="col-md-2">
            <br />
            <button class="btn btn-primary my-2" (click)="generar()">
              Generar reporte
            </button>
            <button class="btn btn-danger ms-2" (click)="openPDF()"><i class="bi bi-file-earmark-pdf-fill"></i></button>
          </div>
        </div>
      </div>
    </form>

    <div class="container-fluid" *ngIf="mostrarReporte">
      <div class="row">
        <div class="col-md-6 col-sm-12 p-5">
                    <div class="row ">

            <h3>Listado de cobros por tipo de pago</h3>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Tipo de cobro</th>
                <th scope="col">Cantidad de cobros</th>
                <th scope="col">Monto total cobrado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let f of filasReporte">
                <th scope="row">{{ f.idTipoPago }}</th>
                <td>{{ f.nombre }}</td>
                <td>{{ f.cantCobros }}</td>
                <td>${{ f.total }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-sm-12 p-5">
          <div class="row text-center">

            <h3>Total cobrado por tipo de pago</h3>
          </div>
          <div class="row justify-content-center">

            <div style="width: 500px;">
              <canvas baseChart type="pie" [data]="datos"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>