<div class="text-center text-white fondo"></div>

    <div id="contactos" class="bottom bg-dark text-light">
        <div class="container">
            <div class="row pt-3">
                <div class="col-md-6">
                    <h4>Contactanos</h4>
                    <p class="text-secondary"><i class="bi bi-telephone-fill me-3"></i>+54 9 3515 64-8528</p>
                    <p class="text-secondary"><i class="bi bi-envelope-fill me-3"></i>samui@hotmail.com</p>
                    <p class="text-secondary"><i class="bi bi-geo-alt-fill me-3"></i>Maestro M. Lopez esq. Cruz Roja Argentina</p>
                </div>
                <div class="col-md-6 text text-white">
                    <h4>Sobre Nosotros</h4>
                    <p class="text-secondary">
                        <small>
                            Samui es fruto de un grupo de estudiantes de la carrera Tecnicatura en Programacion en la Universidad 
                            Tecnologica Nacional de Córdoba. Logrando convertirse en sinónimo de helado, 
                            calidad, calidez, variedad, cercanía e innovación han sido los pilares que llevaron a 
                            la marca a convertirse en la principal cadena de heladerías en la ciudad de Córdoba.
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>