.fondo{
    background-image: url('../../../assets/img/fondoHome.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 700px;
    background-position: center;
    background-color: rgb(0, 4, 111);
}