.fondo{
    background-image: url('../../../assets/img/fondoHome.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    background-color: rgb(0, 4, 111);
    min-height: 80vh;
}

a{
    text-decoration: none;
    color: white;
}