<div class="container">
    <h1 class="display-4 my-3">Listado de Socios</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">DNI</th>
      <th scope="col">Activo</th>
      <th scope="col" colspan="3">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of listado">
      <th scope="row">{{ s.id }}</th>
      <td>{{ s.nombre }}</td>
      <td>{{ s.apellido }}</td>
      <td>{{ s.dni }}</td>
      <td>{{ s.fechaBaja ? 'NO' : 'SI' }}</td>
      <td><app-detalles-socio [socio]="s"></app-detalles-socio></td>
      <td><app-baja-socio [socio]="s" (onEliminado)="actualizarListado()" [isDisabled]="s.fechaBaja!==null"></app-baja-socio></td>
      <td><button class="btn btn-success bi bi-pencil" [routerLink]="['/socios/nuevo',s.id]"></button></td>

    </tr>
  </tbody>
</table>
</div>
