<div class="container">
    <h1>Listado de Socios</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">DNI</th>
      <th scope="col">Consultar Socio</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of listado">
      <th scope="row">{{ s.id }}</th>
      <td>{{ s.nombre }}</td>
      <td>{{ s.apellido }}</td>
      <td>{{ s.dni }}</td>
      <td><app-detalles-socio [socio]="s"></app-detalles-socio></td>
      <td><app-baja-socio [socio]="s" (onEliminado)="actualizarListado()"></app-baja-socio></td>
    </tr>
  </tbody>
</table>
</div>
