<div class="container">
    <h1 class="display-4">Listado de Socios</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">DNI</th>
      <th scope="col" colspan="2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of listado">
      <th scope="row">{{ s.id }}</th>
      <td>{{ s.nombre }}</td>
      <td>{{ s.apellido }}</td>
      <td>{{ s.dni }}</td>
      <td>
        <app-detalles-socio [socio]="s"></app-detalles-socio>
        <app-baja-socio [socio]="s" (onEliminado)="actualizarListado()" class="ms-3"></app-baja-socio>
        <button class="btn btn-success bi bi-pencil ms-3" [routerLink]="['/socios/nuevo',s.id]"></button>
      </td>
    </tr>
  </tbody>
</table>
</div>
