<div id="main" class="container center border border-secondary rounded">
    <div class="py-5 px-5">
      <h3>Iniciar Sesión</h3>
        <form [formGroup]="formulario">
            <div class="mb-3">
              <label for="inputUsuario" class="form-label">Nombre de usuario</label>
              <input
                type="text"
                class="form-control"
                id="inputUsuario"
                
                formControlName="usuario"
                [class.is-invalid]="formulario.controls['usuario'].hasError('required') && formulario.controls['usuario'].touched"
              />
              <p *ngIf="formulario.controls['usuario'].hasError('required') && formulario.controls['usuario'].touched"
              class="invalid-feedback">Debe ingresar un nombre de usuario</p>
            </div>
            <div class="mb-3">
              <label for="inputContrasenia" class="form-label">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="inputContrasenia"
                formControlName="contrasenia"
                [class.is-invalid]="formulario.controls['contrasenia'].hasError('required') && formulario.controls['contrasenia'].touched"
              />
              <p *ngIf="formulario.controls['contrasenia'].hasError('required') && formulario.controls['contrasenia'].touched"
              class="invalid-feedback">Debe ingresar una contraseña</p>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!formulario.valid" (click)="iniciarSesion()">Iniciar Sesión</button>
            <button type="submit" class="btn btn-danger ms-3" (click)="volver()">Volver</button>
          </form>
    </div>
</div>