<div class="container">
    <h2 class="display-4 my-3">
        Mis Pedidos
    </h2>
    <table class="table">
        <thead>
            <tr class="">
                <th scope="col">Id</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
                <th scope="col" colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of listadoPedidos">
                <th scope="row">{{p.id}}</th>
                <td>{{p.estado}}</td>
                <td>{{p.fechaPedido | date:'mediumDate':'UTC'}}</td>
                <td>
                    <app-detalles-pedido [pedido]="p"></app-detalles-pedido>
                    <app-cobro (onCobrado)="cargarPedidos()" [pedido]="p.estado=='Creado'?p:{}" [pagaCliente]="true"></app-cobro>
                    <app-cancelar-pedido [pedido]="p" (onCancelar)="cargarPedidos()"></app-cancelar-pedido>
                </td>

            </tr>
        </tbody>
    </table>
</div>