<button class="btn ms-3" [ngClass]="isEdit? 'btn-success bi bi-pencil':'btn-primary'" data-bs-toggle="modal" attr.data-bs-target="#modal{{gusto.id}}">{{isEdit? '': 'Agregar gusto'}}</button>

<!-- Modal -->
<div class="modal fade" [id]="'modal'+gusto.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{isEdit? 'Modificar Gusto':'Registrar Gusto'}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid p-5">
                    <form [formGroup]="formulario">
                
                      <div class="form-group">
                        <div class="row">
                          <div class="col">
                            <div class="mb-3">
                              <label for="nombre" class="form-label">Nombre del gusto</label>
                              <input type="text" class="form-control" id="nombre" formControlName="nombre"
                              [class.is-invalid]="controlNombre.touched && controlNombre.hasError('required')">
                              <span *ngIf="controlNombre.touched && controlNombre.hasError('required')"
                              class="invalid-feedback">
                              Nombre del gusto es requerido
                              </span>
                            </div>
                          </div>          
                        </div>
                      </div>
                
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="mb-3 form-check">
                              <input #activo type="checkbox" name="inputActivo" class="form-check-input" formControlName="activo" id="inputActivo" 
                              (change)="cambioCheck(activo.checked)"/>
                              <label class="form-check-label" for="inputDisponible">Disponible</label>
                            </div>
                          </div>
                        </div>
                      </div>      
                      </form>
                </div>
                
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-primary"(click)="guardar()" *ngIf="!isEdit" data-bs-dismiss="modal">Guardar</button>
              <button type="submit" class="btn btn-outline-primary"(click)="editar()" *ngIf="isEdit" data-bs-dismiss="modal">Editar</button>
              <button type="button" class="btn btn-outline-danger ms-3" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>